MISTRAL_DOC_AI_ENDPOINT=https://.cognitiveservices.azure.com/providers/mistral/azure/ocr
MISTRAL_DOC_AI_MODEL=mistral-document-ai-2505
GLM_API_KEY=""
GLM_API_ENDPOINT=https://.azurecontainerapps.io/v1/chat/completions
GLM_MODEL=/model/GLM-OCR